.tc-dashboard button {
  height: 1.7rem;
  white-space: nowrap;
  font-size: 1vw;
  padding: 0 2px;
  margin: 1px 1.666px !important;
  background: #dbe2e9;
  color: #333f48;
}

.tc-user-table {
  line-height: 12px;
  font-size: 1vw;
}

.tc-user-role {
  padding: 0.4rem 0;
}
